:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-accent: #FFC600;
    --color-link: #FDC70D;
    --color-gray: #E7E7E6;
    --color-page: #ADADAD;
    --color-body: #E7E7E6;

    --border-radius-s: 5px;
    --border-radius-m: 25px;
    --border-radius-l: 50px;
    --border-radius-form: 15px;
    --border-radius-btn: 500px;

    --font-family-main: "Actor", serif;
    --font-family-secondary: "Inter Tight", serif;

    --container-width: 1100px;
    --container-padding-x: 50px;

    --section-padding-y: 25px;

    --input-height: 82px;
    --button-height: 62px;

    --transition-duration: .3s;
}