/* Блок categories */
.categories {
    font-size: 20px;

    @include tablet {
        order: 1;
    }

    &__button {
        border: none;
        border-radius: 5px;
        padding: 10px;
        background-color: var(--color-light);
        cursor: pointer;

        @include tablet {
            padding: 5px;
        }

        &--active {
            background-color: var(--color-accent);
    
            &:hover {
                background-color: var(--color-accent);
            }
        }
    }

    
}
