.cross-button {
    @include reset-button;
    @include square(70px);

    position: relative;
    border-radius: 50%;

    &::before, 
    &::after {
        content: "";
        position: absolute;
        top: 53%;
        left: 30px;
        width: 45%;
        height: 3px;
        background-color: var(--color-dark);
        border-radius: 5px;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}