.footer {
    background-color: var(--color-accent);
    font-size: 20px;

    @include tablet {
        padding-bottom: 40px;
    }

    &__inner,
    &__nav,
    &__body {
        display: flex;
    }

    &__inner {
        padding: 55px 60px 50px;

        @include tablet {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__nav {
        gap: 10px;
    }

    &__logo {
        @include tablet {
            & svg {
                width: 73px;
                height: 73px;
            }
        }
    }

    &__menu {
        &-list {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__body {
        @include tablet {
            flex-direction: column;
        }
    }

    &__extra {
        font-size: 16px;
        padding: 0 50px;
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: start;
        column-gap: 15px;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Две колонки */
            grid-template-rows: auto auto; /* Две строки */
            gap: 10px;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            column-gap: 10px;
        }

        &-link {
            display: flex;
            align-items: center;
        }

        @include mobile {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__soc1als {
        @include tablet {
            grid-column: 2; /* Во вторую колонку */
            grid-row: 1;
        }
    }

    &__visually-impaired {
        display: flex;
        justify-content: start;

        @include tablet {
            grid-column: 1; /* В первую колонку */
            grid-row: 1;
        }
    }

    &__privacy-policy-link {
        justify-self: end;

        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 100%;
            grid-column: 1 / span 2; /* На всю ширину, с первой колонки */
            grid-row: 2;
        }

        @include mobile {
            flex-direction: column;
            gap: 10px;
        }
    }
}
