.header {
    margin: 20px auto;
    background-color: var(--color-accent);
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    border-radius: var(--border-radius-l);

    @include mobile {
        border-radius: var(--border-radius-m);
    }

    @include mobile-s {
        max-width: 350px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
    }

    &__menu {
        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 30px;

            @include tablet {
                column-gap: 20px;
            }
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 30px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition-duration: inherit;
            }
        }
    }

    &__search {
        margin-top: 5px;
        width: 100%;
        background-color: var(--color-light);
    }
}
