/* Блок news */
.news {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 48px;

        @include tablet {
            order: 1;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @include tablet {
            display: inline-block; 
            opacity: 1;
            margin-bottom: 0;
            order: 0;
        }
    }

    &__categories {
        margin-bottom: 5px;
        display: flex;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1em;

        gap: 5px;
    }

    &__years {
        display: flex;
        gap: 5px;
    }

    &__item {
        background-color: var(--color-light);
        border-radius: var(--border-radius-m);

        max-width: 540px;
    }

    &__pagination {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 80px;
        font-family: var(--font-family-main);
    }
}
