.news-item {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: end;

    & img {
        border-radius: var(--border-radius-m);
            width: 100%;
            height: 200px;
            object-fit: cover;
    }

    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        justify-items: stretch;
        grid-template-columns: 1fr;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: block;
    }
}
