/* Блок news */
.news {
    background: var(--page-color);
    border-radius: 50px 50px 0 0;

}

.news>.container {
    
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}

.news__breadcrumbs {
    margin-bottom: 100px;

    @include tablet {
        order: 1;
    }
}

.news__title {
    margin-bottom: 80px;

    @include tablet {
        order: 3;
    }
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @include tablet {
        margin-bottom: 30px;
        order: 2;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
  

    }
}

.news__years {
    display: flex;
    gap: 5px;
}

.news__categories {
    display: flex;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1em;

    gap: 5px;
}

.news__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(493px, 1fr));
    gap: 20px;

    @include tablet {
        order: 4;
    }
}

.news__pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: var(--font-main);

    @include tablet {
        order: 5;
    }
}


