/* Блок pagination */
.pagination__button,
.pagination__button .pagination__button--next,
.pagination__button .pagination__button--prev {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--btn-color);
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
  width: 42px;
  height: 44px;

  & .pagination__button--current {
    border-radius: 5px;
  padding: 10px;
  width: 39px;
  height: 44px;
  background-color: var(--btn-active-color);
  }

}