.search {
    font-size: 16px;
    background-color: var(--color-light);
    display: inline-flex;
    width: 100%;
    border-radius: 500px;

    @include mobile {
        font-size: 14px;
    }

    &__input {
        flex: 1;
        margin: 5px;
        padding: 10px 10px 10px 30px;
        border-radius: var(--border-radius-m);
        background-color: var(--color-gray);
        background-image: url("./../../img/svgicon/search-s.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        border: none !important;

        &::placeholder {
            color: var(--color-dark);
        }
    }
}
